<%= form_for(@boss) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :name %>
  <%= f.collection_select(:zone_id, Zone.all, :id, :name) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
